<div style="margin: 4rem">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc Ngay</button>
        </div>

        <div class="col-lg-9">
            <a>{{courses.name}}</a>
            <iframe src="https://www.youtube.com/watch?v=QlmnCSKrhGM"
                allowfullscreen
                width="500" height="500"></iframe>
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>