<div class="mt-10">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search">Search</label>
      <input type="search" name="q" class="form-control" id="search"
        placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="search">sUBMIT</label>
      <select name="gender" class="form-control" id="gender">
        <option value="">Gioi tinh</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>